*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {
    text-align: center;
}

h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.border {
    border: 2px solid black;
}

.card {
    width: 400px;
    height: 800px;
    background-color: white;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    display: flex;
}

.green-section{
    height: 3em;
    background-color: lightgreen;
    align-items: center;
    justify-content: space-between;
}

.green-box {
    background-color: green;
    height: 1em;
    width: 2em;
}

.raised{
    align-self: flex-start;
}

.purple-box{
    height: 1em;
    width: 3em;
    background-color: fuchsia;
}

.grow-long{
    flex-grow: 4;
}

.grow-med{
    flex-grow: 2;
}

.blue-box {
    width: 100%;
    background: blue;
    height: 10em;
}

.orange-circle{
    height: 2em;
    width: 2em;
    border-radius: 1em;
    margin: 0.5em;
    background-color: orange;
}

.orange-section{
    justify-content: space-between;
    align-items: center;
}

.brown-box {
    height: 5em;
    width: 5em;
    background: brown;
    flex-grow: 2;
}

.mid-margin-one-em{
    margin: 0 1em;
}