body{
    background-color: #1f4b6d;
    background-image: url("../images/bg-sky.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: 'Poppins', sans-serif;
}

h1.fancy-header {
    text-align: center;
}

.fancy-header{
    color: #968573;
    text-decoration: underline;
}

ul{
    list-style-image: url("../images/bullet-train-list.png");
}

#pricing table{
    margin: auto;
    background-color: #bd9897;
    opacity: 75%;
    font-size: 2em;
    width: 50%;
    text-align: center;
}

#pricing>h2.fancy-header{
    text-align: center;
}