body{
    background-color: #1f4b6d;
    background-image: url("../images/bg-sky.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.imgs{
    margin: 0.25em;
}

#end{
    color: #E7E5DF;
    font-size: 1em;
}

p{
    color: #1B1F3B;
    font-size: 1.5em;
}

h1.fancy-header {
    text-align: center;
    font-size: 3em;
}

.fancy-header{
    color: #1B1F3B;
    text-decoration: underline;
    font-size: 2em;
}

ul{
    list-style-image: url("../images/bullet-train-list.png");
}

#vision-images>h2.fancy-header{
    text-align: center;
}

#vision-images{
    margin: 2em 2em;
}

#top-images, #bottom-images{
    display: flex;
    justify-content: center;
}

#pricing table{
    margin: auto;
    background-color: #bd9897;
    opacity: 75%;
    font-size: 2em;
    width: 50%;
    text-align: center;
}

#pricing>h2.fancy-header{
    text-align: center;
}

footer{
    clear: both;
}

a{
    float: right;
}

a:link{
    color: #8dcdce;
}

a:visited{
    color: #283839;
}

a:hover{
    color: #f0e7d4;
}

a:active{
    color: #de0085;
}