body{
    background-color: #1f4b6d;
    background-image: url("../images/bg-sky.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

h1.fancy-header {
    text-align: center;
}

.fancy-header{
    color: #968573;
    text-decoration: underline;
}

ul{
    list-style-image: url("../images/bullet-train-list.png");
}

#vision-images>h2.fancy-header{
    text-align: center;
}

#vision-images>div#top-images, #vision-images>div#bottom-images{
    margin: 2em 2em;
}

#pricing table{
    margin: auto;
    background-color: #bd9897;
    opacity: 75%;
    font-size: 2em;
    width: 50%;
    text-align: center;
}

#pricing>h2.fancy-header{
    text-align: center;
}

footer{
    clear: both;
}

a{
    float: right;
}

a:link{
    color: #8dcdce;
}

a:visited{
    color: #283839;
}

a:hover{
    color: #f0e7d4;
}

a:active{
    color: #de0085;
}