#map{
    aspect-ratio: 5/4;
    border-radius: 5px;
}

.icon-sizing{
    width: 50px;
    height: 50px;
}

#right-side-menu{
    border-radius: 5px;
}

.forecast-card{
    height: 15em;
    width: 17em;
}

.forecast-title{
    height: 10em;
    width: 17em;
}

.right-side-scroll-container{
    height: 50em;
    width: 19em;
    overflow-y: scroll;
    overflow-x: scroll;
}

.top-scroll-container{
    width: 90vw;
    overflow-x: scroll;
}